.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &__switch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 16px;
    height: 16px;
    background-color: #f8fafb;
    border: 1px solid #aab7d4;
    border-radius: 4px;
    transition: 0.2s;
  }

  &__icon {
    visibility: hidden;
  }

  &.checked {
    .checkbox__switch {
      background-color: #3d8fec;
      border: 1px solid transparent;
    }
    .checkbox__icon {
      visibility: visible;
    }
  }
}
